{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Bloodborne</h1>
<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>Bloodborne is a rpg-action driven game, heavily influenced by <strong>gothic</strong> and <strong>cosmical</strong> horror.</p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
{% endblock %}

{% block nav %}
    <a href="{% url 'editpage' title %}">Edit Page</a><br>
    <a href="{% url 'deletepage' title %}">Delete Page</a>
{% endblock %}