{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Django</h1>
<p></p><p>Django is a web framework written using <a href="/wiki/Python">Python</a> that allows for the design of web applications that generate <a href="/wiki/HTML">HTML</a> dynamically.</p>
{% endblock %}

{% block nav %}
    <a href="{% url 'editpage' title %}">Edit Page</a><br>
    <a href="{% url 'deletepage' title %}">Delete Page</a>
{% endblock %}